*.swp
abslib/bin
abslib/gen
abslib/local.properties
abslib/secure.properties
abslib/build.xml
smssync/gen
smssync/bin
smssync/local.properties
smssync/secure.properties
smssync/ant.properties
smssync/tests/bin
smssync/tests/gen
secure.properties
ushahidi-key.keystore
build.xml
ant.properties
local.properties
secure.properties
